.btn {
    background: $color-blue;
    padding: 5px 10px;
    margin: 5px;
    @include border-radius(3px);
    color: $color-white !important;
    @include transition(.4s);
    &:hover {
        opacity: .5;
        i {
            color: $color-white;
        }
    }
    &--duplicate {
        background: $color-blue2;
    }
    &--edit {
        background: $color-orange;
    }
    &--delete {
        background: $color-red;
    }
    &--save {
        background: $color-blue;
        border: 0;
        padding: 10px 30px !important;
        display: inline-block;
        margin: 5px;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: .9em;
        font-weight: bold;
        color: $color-white;
    }
}