.btn {
    background: $color-blue;
    padding: 5px 10px;
    margin: 5px;
    @include border-radius(3px);
    color: $color-white !important;
    @include transition(.4s);
    &:hover {
        opacity: .5;
        i {
            color: $color-white;
        }
    }
    &--duplicate {
        // background: $color-blue2;
        background: url('../images/sprite-all.png');
        width: 35px;
        height: 31px;
        background-position: -96px 0;
        background-color: $color-blue2;
        // background-position:
        i {
            display: none;
        }
    }
    &--computer {
        // background: $color-blue2;
        background: url('../images/sprite-all.png');
        width: 35px;
        height: 31px;
        background-position: -127px 0;
        background-color: $color-orange;
        // background-position:
        i {
            display: none;
        }
    }
    &--tablet {
        // background: $color-blue2;
        background: url('../images/sprite-all.png');
        width: 35px;
        height: 31px;
        background-position: -64px 0;
        background-color: $color-green;
        // background-position:
        i {
            display: none;
        }
    }
    &--hub {
        // background: $color-blue2;
        background: url('../images/sprite-all.png');
        width: 35px;
        height: 31px;
        background-position: -284px 0;
        background-color: $color-red;
        // background-position:
        i {
            display: none;
        }
    }
    &--phone {
        // background: $color-blue2;
        background: url('../images/sprite-all.png');
        width: 35px;
        height: 31px;
        background-position: -0 -30px;
        background-color: $color-dark;
        // background-position:
        i {
            display: none;
        }
    }
    &--Mi-FI {
        // background: $color-blue2;
        background: url('../images/sprite-all.png');
        width: 35px;
        height: 31px;
        background-position: -31px 30px;
        background-color: $color-blue2;
        // background-position:
        i {
            display: none;
        }
    }
    &--edit {
        background: $color-orange;
    }
    &--write {
        background: $color-blue;
        padding: 10px 30px !important;
        display: inline-block;
        margin: 5px;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: .9em;
        font-weight: bold;
        color: $color-white;
        height: 40px;
        display: flex;
        align-items: center;
        i {
            font-size: 1.5em;
            margin-right: 10px;
        }
    }
    &--delete {
        background: $color-red;
    }
    &--save {
        background: $color-blue;
        border: 0;
        padding: 10px 30px !important;
        display: inline-block;
        margin: 5px;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: .9em;
        font-weight: bold;
        color: $color-white;
        height: 40px;
        display: flex;
        align-items: center;
        i {
            font-size: 1.5em;
            margin-right: 10px;
        }
    }
    &--edit-all {
        // background: $color-blue;
        border: 0;
        padding: 10px 30px !important;
        padding-left: 0 !important;
        display: inline-block;
        margin: 5px;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: .9em;
        font-weight: bold;
        color: $color-dark !important;
        height: 40px;
        display: flex;
        align-items: center;
        background: transparent;
        color: $color-dark !important;
        &:hover {
            color: $color-dark !important;
            i {
                color: $color-dark !important;
            }
        }
        i {
            font-size: 1.5em;
            margin-right: 10px;
        }
    }
    &--cancel {
        background: $color-dark;
        border: 0;
        padding: 10px 30px !important;
        display: inline-block;
        margin: 5px;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: .9em;
        font-weight: bold;
        color: $color-white;
        height: 40px;
        display: flex;
        align-items: center;
        i {
            font-size: 1.5em;
            margin-right: 10px;
        }
    }
    &--close {
        // background: $color-blue;
        border: 0;
        padding: 0;
        display: inline-block;
        margin: 5px;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: .9em;
        font-weight: bold;
        color: $color-dark;
        height: 40px;
        display: flex;
        align-items: center;
        background: transparent;
        color: $color-dark !important;
        background: transparent !important;
        font-size: 1.5em;
        i {
            // font-size: 1.5em;
            // margin-right: 10px;
        }
        &:hover {
            color: $color-dark !important;
            i {
                color: $color-dark !important;
            }
        }
    }
    &--switch {
        position: absolute;
        right: 0;
        border: 2px solid #000;
        background: transparent;
        color: #000 !important;
        font-weight: bold;
        border-radius: 0 !important;
        right: 17px;
        top: 10px;
        z-index: 9;
    }
}

.control-butons-edit {
    height: 40px;
    display: flex;
    align-items: center;
    float: left;
    overflow: auto;
    width: 100%;
    i {
        // margin-right: 10px;
        margin-right: 10px;
        background: #5e5e5e;
        padding: 10px;
        display: inline-block;
        color: #fff;
    }
    a {
        display: block;
        margin-right: 20px;
        text-decoration: none;
        color: $color-dark;
        @include transition(.3s);
        // background: #484848;
        // padding: 5px 10px;
        color: #5e5e5e;
        // border-radius: 3px;
        background: #f6f2f2;
        padding-right: 15px;
        &:hover {
            opacity: .4;
        }
    }
    &:after {
        display: block;
        content: '';
        clear: both;
        content: '';
    }
}