h1 {
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
    position: relative;
    margin-bottom: 25px;
    &:after {
        content: '';
        width: 50px;
        background: #4a4a4a;
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 4px;
    }
}