$color-blue:#2871b6;
$color-blue2:#56bbe9;
$color-blue3:#0158a8;
$color-green:#42a759;
$color-cyan:#67c9ca;
$color-cyan2:#5eb6b8;
$color-red:#c73461;
$color-red2:#b23056;
$color-orange:#f0893a;
$color-orange2:#d97b35;
$color-violet:#5e5ea4;
$color-violet2:#555593;
$color-lightgray:#eef1f6;
$color-white:#fff;
$color-black:#000;
$color-primary:$color-cyan;
$color-secondary:$color-red;
$color-third:$color-red;